If you’ve noticed that you’re receiving SMS texts and iMessages from people but aren’t getting any notifications about them, you’re not alone. Far from it. I’m one of many people experiencing an annoying bug where messages come through fine — but without any pop-up notification or even the usual red badge to indicate that there’s a new message waiting to be read.

[img=https://i.imgur.com/J9VtlIE.jpg]

Last month, MacRumors wrote about increasing reports of the problem on the new iPhone 12, 12 mini, 12 Pro, and 12 Pro Max phones. But it seems to also be affecting people with older iPhones as well, so this is looking more and more like an iOS 14 issue. What’s more aggravating about the glitch is that it doesn't always happen. I’ve noticed some messages pop up on my lock screen like normal, but others just quietly roll in with me being none the wiser.