Billboard’s First Stream serves as a handy guide to this Friday’s most essential releases — the key music that everyone will be talking about today, and that will be dominating playlists this weekend and beyond.

[big=The Album That’s a Journey Even Deeper Into The Woods: Taylor Swift, Evermore]

[youtube=RsEZmictANA]
[caption=This week, Taylor Swift returns to the world of Folklore]

Taylor Swift’s Evermore is an album that masquerades as a sequel (or a Side B) to this year's Folklore at first glance, but reveals itself to be a more progressive, and even audacious, continuation of a proven aesthetic. She’s still relying on acoustic guitar, piano, string flourishes and programmed beats, but she also takes risks, musically and lyrically: there’s a heartbreaking ode to Swift’s grandmother (that features her archived background vocals from years ago), a skittering kiss-off that recalls mid-period Radiohead, and a swirling duet between Swift and Justin Vernon’s best Bon Iver falsetto that features a rare mid-song tempo change. Those are just the final three of the set’s 15 tracks, and they’re all breathtaking. If Swift seemingly pushed her songwriting to the limit on Folklore, its follow-up finds a new one.